[Unit]
Description=Emacs text editor
Documentation=info:emacs man:emacs(1) https://gnu.org/software/emacs/

[Service]
Type=forking
ExecStart=bash -l -c 'emacs --daemon'
ExecStop=/usr/bin/emacsclient --eval "(kill-emacs)"
Environment=SSH_AUTH_SOCK=%t/keyring/ssh
Environment=GDK_DPI_SCALE=0.5
Environment=GDK_SCALE=2
Restart=on-failure

[Install]
WantedBy=default.target
