# Read the Xresources file if it exists.
[[ -f ~/.Xresources ]] && xrdb -merge ~/.Xresources

# NetworkManager for managing networks.
nm-applet &

# Hide the cursor when idle.
unclutter &

# Notifications with dunst
dunst &

# Start geoclue
/usr/lib/geoclue-2.0/demos/agent &

# Udiskie for mounting.
udiskie &

# Blueman for bluetooth
blueman-applet &

# Clipboard manager
clipit &

# MPD mpris support
mpDris2 &

# ALL apps
i3-ressurect.sh &

qbittorrent-nox &

tapper &

syncthing --no-browser &

sslocal -c ~/.ssh/shadowsocks.json &

blackd &

# Hugo server
hugo server --buildDrafts --navigateToChanged &

# keebie & TODO: need test & modify
