# Read the Xresources file if it exists.
[[ -f ~/.Xresources ]] && xrdb -merge ~/.Xresources

# ALL apps
restore-workspaces.sh &

# NetworkManager for managing networks.
nm-applet &

# Hide the cursor when idle.
unclutter &

# Notifications with dunst
dunst &

# Start geoclue
/usr/lib/geoclue-2.0/demos/agent &

# Udiskie for mounting.
udiskie &

# Blueman for bluetooth
blueman-applet &

# Clipboard manager
clipit &

# MPD mpris support
mpDris2 &

qbittorrent-nox &

syncthing --no-browser &

# Proxies
sslocal -c ~/.ssh/shadowsocks.json &

# Python blackd formatter
blackd &

# Tapper
tapper &

# Keebie
keebie &

# Hugo server
cd ~/sites/inomoz.com && hugo server --buildDrafts --navigateToChanged > /tmp/hugo.log &

# Buku server
bukuserver run -p 8888 > /tmp/bukuserver.log &

