/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
    background: white !important;
    color: #424242 !important;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

html,
body {
    font-size: 24px !important;
    line-height: 1.4 !important;
    font-family: sans-serif !important;
    font: 24px/1.4 sans-serif, serif !important;
}

table,
.t-dsc-header > td,
ol,
ul,
.hljs,
pre,
p,
.wikitable{
    font-size: 24px !important;
}


code,
pre{
    font-family: monospace;
}

pre{
    font-size: 20px !important;
}

body > div:not(.wy-grid-for-nav),
body > article,
body > table{
    max-width: 960px !important;
    margin: 0 15px !important;
    font: 24px/1.4 sans-serif, serif !important;
}


/* arduino */
#reference h3{
    font-size: 28px !important;
}

/* commands & hotkeys */
.wy-menu-vertical a{
    font-size: 70% !important;
    line-height: 1.6 !important;
}

td.command,
td.td_command{
    width: 40% !important;
}

/* blender */
.wy-nav-content{
    padding: 15px !important;
}

.wy-side-nav-search,
.wy-nav-side,
.wy-side-scroll{
    width: 10px !important;
    overflow: hidden;
    background: white !important;
}

.wy-side-scroll .version{
    display: none;
}

.wy-nav-content-wrap{
    margin-left: 10px !important;
}

.wy-nav-side:hover,
.wy-side-scroll:hover{
    width: 300px !important;
    overflow: visible;
}

.wy-side-scroll:hover .wy-side-nav-search{
    width: 300px !important;
    overflow: visible;
}


.wy-side-scroll:hover .version{
    display: block;
}

/* bootstrap  */
#carbonads{
    display: none !important;
}


/* html */
.sample-code-frame{
height: auto !important;
}

/* Org mode */
#table-of-contents > p{
    display: none !important;
}
